/.checkstyle
/.classpath
*.classpath
/.project
*.project
/.settings
/.idea
*.idea
/${logger.path}/
/.vscode
/target
/output
*.iml
*.ipr
*.iws
*.idea/
.DS_Store
!.gitignore
/bin/
*.settings
*/target
*/output
*/bin
*/target/*
*.jar
*/classes/*
/classes
/target/
